<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nómada Chic</title>
        
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icon/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran'>
    <script src="https://kit.fontawesome.com/5220de64b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/styles/style.css"/>
</head>
<body class="secondary">
    <simple-header-component></simple-header-component>
    <main class="column large-padding center">
        <div class="column container center padding border shadow primary max-size">
            <p class="large-text center-text">Inicio de sesión</p>
            <p class="small-text">Inicia sesión con tu cuenta <b>Nómada Chic</b>.</p>
            <form class="column container large-size">
                <div class="column container-product">
                    <label>Correo electrónico</label>
                    <label class="row container center border primary textfield large-size" for="email">
                        <input id="email" type="email" class="small-text primary" placeholder="nombre.apellido@gmail.cl"/>
                    </label>
                </div>
                <div class="column container-product">
                    <label>Contraseña</label>
                    <label class="row container center border primary textfield large-size" for="password">
                        <input id="password" type="password" class="small-text primary" placeholder="************"/>
                    </label>
                </div>
                <a class="border medium-text center-text secondary large-size max-size" href="/">Iniciar sesión</a>
            </form>
            <div class="row container-product">
                <p class="small-text">¿No tienes cuenta?</p>
                <a class="medium-text primary" href="/register">Registrate</a>
            </div>
        </div>
    </main>
    <footer-component></footer-component>

    <script src="components/simple-header.js" defer></script>
    <script src="components/footer.js" defer></script>
</body>
</html>