<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head-component></head-component>
    <script src="components/head.js"></script>
    <script src="https://kit.fontawesome.com/5220de64b1.js" crossorigin="anonymous"></script>
</head>
<body class="primary">
    <main-header-component></main-header-component>
    <main class="column large-padding center">
        Aquí los productos del carrito de compras
    </main>
    <footer-component></footer-component>

    <script src="components/main-header.js" defer></script>
    <script src="components/footer.js" defer></script>
</body>
</html>