<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nómada Chic</title>
        
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icon/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran'>
    <script src="https://kit.fontawesome.com/5220de64b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/styles/style.css"/>
</head>
<body class="primary">
    <main-header-component></main-header-component>
    <main class="column large-padding center">
        <div class="grid-two-one container large-size">
            <div class="column container large-padding padding border shadow primary">
                <p class="large-text left-text">Carrito de compras</p>
                <div id="shopping-cart-products" class="column container-product medium-text">
                    <div class="row container-product space border shadow">
                        <p class="product-text">Producto</p>
                        <p class="right-text">Precio</p>
                        <p class="right-text">Cantidad</p>
                        <p class="right-text">Sub-Total</p>
                        <button class="no-border primary">
                            <i class= "fa-solid fa-trash-can"></i>
                        </button>
                    </div>               
                </div>
            </div>
            <div class="column container padding border shadow secondary">
                <p class="large-text center-text">Resumen de compra</p>
                <div class="row large-text space-between-p">
                    <p>Sub-Total</p>
                    <p id="subtotal" class="right-text">$0</p>
                </div>
                <div class="row container-product large-text space-between-p">
                    <p>Costo de envío</p>
                    <p class="large-text right-text">$5.990</p>
                </div>
                <div class="row container-product large-text space-between-p ">
                    <p>Total</p>
                    <p id="total" class="large-text right-text">$0</p>
                </div>
                <button id="pay" class="border medium-text center-text primary large-size">Pagar</button>
            </div>
        </div>
   
    </main>
    <footer-component></footer-component>

    <script src="components/main-header.js" defer></script>
    <script src="components/footer.js" defer></script>
    <script src="assets/js/shopping-cart.js"></script>
</body>
</html>