<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nómada Chic</title>
        
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icon/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Catamaran'>
    <script src="https://kit.fontawesome.com/5220de64b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/styles/style.css"/>
</head>
<body class="secondary">
    <simple-header-component></simple-header-component>
    <main class="column large-padding center">
        <div class="column container center padding border shadow primary max-size">
            <p class="large-text center-text">Transacción completada</p>
            <p class="small-text center-text">Tu compra por <b>$54.990</b> ha sido realizada con éxito. El producto será entregado en la dirección solicitada en 5 días hábiles.</p>
            <a class="border medium-text center-text secondary large-size" href="/">Volver al inicio</a>
        </div>
    </main>
    <footer-component></footer-component>

    <script src="components/simple-header.js" defer></script>
    <script src="components/footer.js" defer></script>
</body>
</html>