* {
    color: black;
    text-decoration: none;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom:1px solid #333;
}

footer {
    color: white;
    background-color: #1149d7;
    text-align: center;
    padding: 10px 0;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0px 4px;
}

.white_button {
    background-color: white;
}

.blue_button {
    color: white;
    background-color: #004AAD;
    border: none;
}

.banner {
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.featured-products {
    padding: 20px;
}


#logoT {
    height: 60px;
}
img {
    max-width: 100%;

}
.container-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
   
}

.item:hover{
    box-shadow: 0 10px 20px rgb(0,0, 0.20);
}

.Info-produc{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#p1{
    height: 80px;
}


#p2{
    height: 80px;
}


#p3{
    height: 80px;
}

#p4{
    height: 80px;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.2);
}
.precio{
    font-size: 18px;
    font-weight: 900;
}
.Info-produc button{
    border: none;
    background: none;
    background-color: rgb(53, 50, 50);
    color: aliceblue;
    padding: 15px 10px;
    cursor: pointer;

}
